<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2"/>
	</startup>
	<appSettings>
		<add key="StringConect" value="server=arquitectur.database.windows.net,1433;Initial Catalog=GasNatural;Persist Security Info=False;user id=desarrollo;password=GasNatural2020%"/>
		<!--ConfigurationManager.AppSettings["StringConect"]-->
		
	</appSettings>
</configuration>